<h1>Listing txns</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @txns.each do |txn| %>
  <tr>
    <td><%= link_to 'Show', txn %></td>
    <td><%= link_to 'Edit', edit_txn_path(txn) %></td>
    <td><%= link_to 'Destroy', txn, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Txn', new_txn_path %>
